body {
	background: rgb(255, 255, 255);
	color: rgb(100, 100, 100);
}

section {
	margin: -1em;
	//margin-bottom: 1em;
	padding: 0em 1em 2em;
	//border-top: 0.1em solid white;
}

section:first-child {
	border-top: none;
}

.nl-field-toggle,
.nl-form input,
.nl-form select,
.nl-form input::-webkit-input-placeholder {
	line-height: inherit;
	display: inline-block;
	color: #177FB5;
	cursor: pointer;
	border: none;
	border-bottom: 1px dashed #177FB5;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
	width: 100%;
	border-width: 0.5px;
}

.price {
	color: rgba(255, 255, 255, 0.6);
}

#payment {
	background: rgb(216, 216, 216);
	padding: 0.5em 1em 2em;
	margin: 1em -1em 3em;
}

#payment .nl-field-toggle,
#payment input,
#payment select,
#payment input::-webkit-input-placeholder {



}

#email, #cardNumber {
	font-size: 0.8em;
	padding-bottom: 4px;
}

.small {
	font-size: 0.6em;
}

.badge {
	color: rgba(0,0,0,0.25);
	font-weight: 700;
	font-size: 0.6em;
}

.img-responsive {
	width: 100%;
}

.img-half {
	display: block;
	width: 50%;
	margin: auto;
}

#cardName {
	width: 283px;
}

#cvv {
	width: 60px;
}

#createPassword {
	border-width: 1px;
}

.has-error {
	color: #a94442 !important;
	background:	#f2dede !important;
}

.has-success {
	color: #0DB610 !important;
	border-color: rgb(100, 100, 100) !important;
}