body {
	background: rgb(255, 255, 255);
}

section {
	margin: -1em;
	margin-bottom: 1em;
	padding: 1em 1em 2em;
	border-top: 0.1em solid white;
}

section:first-child {
	border-top: none;
}

#basket li {
	list-style: initial;
	//font-size: 0.7em;
	margin-left: 1em;
}

#basket div.nl-field.nl-dd.nl-field-open ul li {
	list-style: none;
	font-size: 1em;
}

input[type="text"], input[type="tel"] {
	width: 100%;
}

.price {
	color: rgba(255, 255, 255, 0.6);
}

#basket {
	background: rgb(128, 83, 194);
}

#basket .nl-field-toggle,
#basket input,
#basket select,
#basket input::-webkit-input-placeholder {
	color: rgb(52, 34, 79);
	border-color: rgb(52, 34, 79);
}

#delivery {
	background: rgb(233, 109, 101);
}

#payment {
	background: rgb(101, 168, 233);
}

#payment .nl-field-toggle,
#payment input,
#payment select,
#payment input::-webkit-input-placeholder {
	color: #436AB1;
	border-color: #436AB1;
}

#cardNumber {
	font-size: 0.8em;
}

#extra {
	background: rgb(200, 200, 200);
	font-size: 0.6em;
	margin: -1.6666666em;
	margin-bottom: 1.66666666em;
	padding: 1.666666em 1.666666em 3.22222222em;
}

#extra div.nl-field.nl-dd.nl-field-open ul li {
	list-style: none;
	font-size: 1em;
}

#extra .nl-field-toggle,
#extra input,
#extra select,
#extra input::-webkit-input-placeholder {
	color: #696969;
	border-color: #696969;
}

.badge {
	color: rgba(0,0,0,0.25);
	font-weight: 700;
	font-size: 0.6em
}